@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navbar-icon{
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mb-2 mr-3 shadow-lg
        bg-white text-green-500
        hover:bg-green-600 hover:text-white
        rounded-3xl hover:rounded-xl
        transition-all duration-300 ease-linear
        cursor-pointer;
    }
    .post-item{
        @apply hover:scale-[1.02] md:hover:scale-125 hover:px-2 md:hover:px-8 transition-all cursor-pointer;
    }
    .tags-container p:not(:last-child)::after {
        content: ", ";
    }
}

@layer utilities{
    .group:hover .line-clamp-1,
    .group:hover .line-clamp-2 {
      display: block; /* Reset display property to show all lines */ 
      max-height: 6rem; /* Reset max-height to allow the content to expand */
      text-overflow: unset; /* Remove ellipsis style */
    }
}

* {
    outline: 1px solid red;
}